.card-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-grid__item {
  width: 90vw;
  max-width: 320px;
  margin: 0 5vw 30px;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0 3.13% 30px;
  }
}

