.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 21px 0 20px;
  background-color: $background-color-main;
  color: $font-color-main;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent, transparent, rgba(0, 0, 0, 0.5)),
    url("../img/pattern.png");
}

.main__header {
  margin-bottom: 23px;
  padding: 0 10%;
}

.main__heading {
  margin: 0 auto;
  font-size: 9.6vw;
  line-height: 11.4vw;
  font-family: $font-additional;
  font-weight: 100;
  text-align: center;

  @media (min-width: $mobile-m-width) {
    font-size: 36px;
    line-height: 43px;
  }
}

.main__content {
  width: 100%;
}
