//fonts
$font-main: "Trebuchet MS", "Helvetica", "Arial", "DejaVu Sans", sans-serif;
$font-additional: "Exo 2.0", "Helvetica", "Arial", "DejaVu Sans", sans-serif;

// elemens
$card-border-width: 4px;
$card-border-width-both: ($card-border-width * 2);

// colors
$white: #ffffff;
$black: #000000;
$gray: #666666;
$gray-lighten: #b3b3b3; // disabled
$gray-lighten--opacity: rgba(179, 179, 179, 0.5); // disabled
$gray-extra-light: #f2f2f2;
$gray-darken: #272727;
$blue: #1698d9; // default
$blue-lighten: #2ea8e6; // hover
$pink: #d91667;  // selected
$pink-lighten: #e62e7a; //hover
$yellow: #ffff66;

$font-color-main: $white;
$font-color-card: $gray;
$font-color-card--heading: $black;
$font-color-link: $blue;
$font-color-link--hover: $blue-lighten;
$font-color-card--additional: $white;
$font-color-card-ended: $yellow;
$font-color-card--disabled: $gray-lighten--opacity;

$card-color-extra--default: $blue;
$card-color-extra--default-hover: $blue-lighten;
$card-color-extra--selected: $pink;
$card-color-extra--selected-hover: $pink-lighten;
$card-color-extra--disabled: $gray-lighten;

$background-color-main: $gray-darken;
$background-color-card: $gray-extra-light;

// media-width
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-m-width: 375px;


